<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lenovo.qis_todolist">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_qis_todo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.OfflineTaskActivity"
            android:label="Personal TODO List"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activity.OnlineTaskActivity"
            android:label="Business TODO List"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activity.PersonalTodoActivity"
            android:label="Personal TODO List"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activity.CreateTaskActivity"
            android:label="Create New Task"
            android:parentActivityName=".activity.PersonalTodoActivity" />
        <activity
            android:name=".activity.ReadTaskActivity"
            android:label="Read Task"
            android:parentActivityName=".activity.PersonalTodoActivity" />
        <activity
            android:name=".activity.UpdateTaskActivity"
            android:label="Update Task"
            android:parentActivityName=".activity.PersonalTodoActivity" />
        <activity android:name=".activity.TestActivity" />
        <activity android:name=".activity.AddEditTaskActivity" />
        <activity android:name=".activity.ListDataActivity"></activity>
    </application>

</manifest>